* {

    font-family: "Orbitron", serif;;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:30px 60px;
}

span a{
    text-decoration: none;
    margin-right:30px;
    color: grey;
  
}

span a:hover{
    text-decoration: none;
    color: green;
    transition: ease-in-out;
    text-decoration: underline;
  
}



div a>i{
    color: rgb(37, 37, 37);
    margin-right: 15px;
}

h1 {
  text-transform: uppercase;
   text-align: center;
   font-size: 35px;
   padding: 50px 120px;
   margin: 0px 80px;
}


#categorymenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
   

}

.category{
 text-decoration: none;
 color: grey;

}

.category:hover{
    text-decoration: underline;
    color: green;
    transition: ease-in-out 0.4s ;
   
   }