.main-nav{
    margin: 0px 100px;

}

.logo{
    color: white;
   
}


.navbar{
    background-color:#161617;
}

.buttons{
    color: white;
    font-size: small;
    font-weight: 200;
  
}
.right-buttons{
    color: white;
}


